@import url(https://fonts.googleapis.com/css?family=Girassol&display=swap);
@import url(https://fonts.googleapis.com/css?family=lexend=exa&display=swap);
body {background-color:#000070;
	color: white;
	font-family: 'Lexend Exa', sans-sarif;
}

header {
	background-color: #FFED74;
}

div{
	background-color: #FFE2B8;
}

h1,h2 {
	text-transform: uppercase;
}

h1 {
	font-size: 2em;
	color: white;

	font-family: 'Girassol', cursive;

}

h2 {
	font-size: 2em;
	color: white;

	font-family: 'Girassol', cursive;
}

ul {
	list-style: none;
}

footer{
	background-color: #FF957E;
	text-align: center;
	padding: 1em 0;
}
