body {background-color:#000070;
}
@import url(https://fonts.googleapis.com/css?family=Girassol&display=swap);
h1 {
	white
	font-family: 'Girassol', cursive;
}
@import url(https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap);
p{
	font-family: 'Lexend Exa', sans-sarif;
}

@media only screen and (max-width:800px) {
  h1{
  	display: block;
  	text-align: center;

  }

  img {
  	width: 320px;
  }

  header {
  	font-size: 1.4em;
  	line-height: 1.8em;
  }
}

@media only screen and (max-width: 480px) {
	section, h2 {
		display: block;
		text-align: center;

	}
	p, ul {
		margin: 1.8em .6em 0;
	}

	li {
		width:80%;
	}

	img {
		width: 230px;
	}

	section {
		float: none;
		font-size: 1.4em;
	}


}